.services-block
  background-color: #102237
  position: relative
  width: 150vw
  height: 840px
  transform: rotate(-5.5deg)
  margin-left: -25vw
  margin-top: -113px

  &--container-inside
    transform: rotate(5.5deg)
    width: 100vw
    max-width: 1440px
    margin: 0 auto

    .services-bg
      position: absolute
      z-index: 1
      
    .services-column 

      img
        margin: 0 auto
      
    


   