.altra--main
  .altra-sidebar
    background: #102237
    height: 144vh
    width: 25%
    left: -40.64px
    top: -43px
    transform: rotate(-5.5deg)
    z-index: 10

    ul
      transform: rotate(5.5deg)
      margin-top: 280px
      position: relative

      li 
        padding-bottom: 20px
        width: auto

        a 
          font-family: Gill Sans
          font-size: 20px
          font-weight: 600
          line-height: 30px
          text-align: left
          display: inline-block
          
          &:hover::after
            content: ""
            height: 1px
            background: #b81734
            margin-top: 8px
            display: block
          
          &:before
            content: ""
            display: inline-block
            width: 147px

  .altra-primary
    flex-grow: 1
    margin-left: 25%
    width: 898px
    max-width: 100%
    
    .altra--section-hero
      position: relative
      width: 100vw
      .altra--section-hero-img
        object-fit: cover
        width: 100%
        height: 822px
        transform: rotate(-5.5deg)
        top: -90.36px
        left: -120.87px

        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: linear-gradient(179.32deg, rgba(16, 34, 55, 0.632) 33.35%, rgba(16, 34, 55, 0) 89.16%)
          z-index: 2

      .altra--heading-hero
        top: 196px
        z-index: 1
        font-family: Gill Sans
        font-size: 60px
        font-weight: 300
        line-height: 72px
        text-align: left
        color: #FFFFFF
        width: 800px
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

    .altra--section2
      z-index: 1
      &::before 
        content: ''
        display: block
        position: absolute
        background-color: orange
        width: 100vw
        height: 110%
        left: -363.98px
        z-index: -1
        transform: rotate(-5.5deg)
      
      .altra--heading
        padding-top: 80px

    @for $i from 1 through 5
      .altra--section#{$i}
        margin: 40px 100px
        position: relative

        .c-btn-altra 
          background-color: #102237
          border: none
          padding: 17px 80px 17px 60px

        div > div
          display: block
          padding-bottom: 50px
          width: 620px
          margin: 0 auto

    .altra--section3
      .altra--teams
        &--teams-item-left
          width: 30%
        &--teams-item
          width: 100%
          &:nth-child(odd)::before 
            content: ''
            display: block
            position: absolute
            background-color: orange
            width: 100vw
            height: 100%
            left: -363.98px
            z-index: -1
            transform: rotate(-5.5deg)

    

        

      
     

        


