/**
  * Font Face
  * Use local fonts to avoid GDPR problems and improve performance
  * Google fonts can be found here: https://google-webfonts-helper.herokuapp.com/fonts
  * Remember to add font-display: swap to generate FOUT
 */

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-regular.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-regular.woff') format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: local(''), url('../fonts/inter-v1-latin-ext_latin-700.woff2') format('woff2'), url('../fonts/inter-v1-latin-ext_latin-700.woff') format('woff')
