<header class="js-header sticky left-0 top-0 w-full z-40 bg-white py-6 transform transition-all duration-500" data-behavior-when-scrolling-down="show">
  <div class="l-wrap">
    <div class="flex justify-between items-center">
      <a class="block w-40" href="index.html">
        <img src="./assets/img/layout/logo.svg" alt="Logo">
      </a>

      <div class="flex items-center">
        <div class="hidden sm:block">
          <ul id="menu-primary" class="c-hor-menu">
            <li id="menu-item-132" class="menu-item current-menu-item"><a href="index.html" aria-current="page">Home</a>
            </li>
            <li id="menu-item-133" class="menu-item menu-item-has-children"><a href="#">Parent Page</a>
              <ul class="sub-menu">
                <li id="menu-item-134" class="menu-item"><a href="subpage.html">Subpage</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="js-menu-toggle hamburger hamburger--spin md:!hidden z-50 ml-4 focus:outline-none" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>

    </div>
  </div>
</header>
