<script src="assets/js/vendor/jquery.js" charset="utf-8"></script>
<script src="assets/js/vendor/fitvids.js" charset="utf-8"></script>
<script src="assets/js/vendor/aos.js" charset="utf-8"></script>
<script src="assets/js/vendor/jquery-match-height.js" charset="utf-8"></script>
<script src="assets/js/vendor/jquery-debouncedresize.js" charset="utf-8"></script>
<script src="assets/js/vendor/body-scroll-lock.js" charset="utf-8"></script>
<script src="assets/js/onload.js" charset="utf-8"></script>
<script src="assets/js/main.js" charset="utf-8"></script>
