.c-btn
  +fluid-type(16, 18)
  font-family: "Gill Sans"
  font-weight: normal
  display: inline-block
  background: transparent
  padding: 17px 60px 17px 23px 
  color: #fff
  border: 1px solid $color-red
  text-decoration: none
  cursor: pointer
  border-radius: 0
  white-space: nowrap
  vertical-align: middle
  user-select: none
  position: relative
  &:after
    content: ''
    position: absolute
    width: 24px
    height: 24px
    background: url('../img/btn-arrow.svg')
    background-repeat: no-repeat
    background-size: contain
    right: 23px
    top: 19px
  &:hover,
  &.btn--hover
    text-decoration: none
    color: #fff
  &:focus,
  &:active,
  &:active:focus
    outline: none
  &[disabled]
    background: #ccc
    color: #000

.c-btn--cookie
  padding: 0.3em 0.8em 0.3em 0.8em
  +fluid-type(16, 18)
  margin: 0 5px 5px 0

.c-btn--small
  padding: 0.6em 1em
  +fluid-type(12, 15)

.c-btn--mini
  padding: 0.1em 0.4em
  +fluid-type(12, 13)

.c-btn--large
  +fluid-type(18, 22)
  padding: 0.5em 1.5em