.c-title
  color: theme('colors.header')
  margin-bottom: 1em
  margin-top: 1.5em
  font-weight: bold
  +fluid-type(24, 35)
  &:first-child
    margin-top: 0

.c-title--xxsmall
  +fluid-type(14, 18)

.c-title--xsmall
  +fluid-type(17, 21)

.c-title--small
  +fluid-type(18, 24)

.c-title--large
  +fluid-type(28, 40)

.c-title--xlarge
  +fluid-type(28, 53)

.c-title--xxlarge
  +fluid-type(40, 70)


.heading-h2
  font-family: "Prata"
  width: 100%
  text-align: center
  font-size: 56px
  font-style: normal
  font-weight: 300
  line-height: 100% /* 56px */
  letter-spacing: 2.24px
  margin-bottom: 10px
  display: flex
  align-items: center
  justify-content: center

  &:after, &:before
    content: ""
    width: 26.5%
    height: 1px
    background: $color-red
    margin: 0 30px
  
.subheading
  color: rgba(26, 32, 44, 0.85)
  text-align: center
  font-size: 18px
  font-style: normal
  font-weight: 400
  line-height: 150%
  max-width: 480px
  margin: auto
  margin-bottom: 75px
